<% phd = 'N'
td = 'Si el tipo de documento es cédula de ciudadania teclee solo digitos'
acd = {'data-bs-toggle' => 'tooltip',
        title: td,
   'data-autocompleta' => 'no' }
if (!f.object.numerodocumento || f.object.numerodocumento == 'N' || f.object.numerodocumento == '')
  phd = 'Buscar'
  acd = {'data-bs-toggle' => 'tooltip',
         title: td }
else
  if (f.object.tdocumento)
    td = f.object.tdocumento.ayuda
    acd = {'data-bs-toggle' => 'tooltip',
           title: td }
  end
end %>
<%= f.input :numerodocumento, placeholder: phd,
  :input_html => acd %>
