<% # Este parcial debe ser sip/personas/_persona_campos.html.erb porque es %>
<% # el usado por la autocompletación de sivel2_gen %>
<% # Los parámetros que espera son: %>
<% # f con formulario persona  %>
<% # fvictima con formulario victima %>

<%= f.input :id, as: :hidden %>
<%
  phn = 'N'
  acn = {'data-autocompleta' => 'no' }
  if (!f.object.nombres || f.object.nombres == 'N' || f.object.nombres == '')
    phn = 'Buscar'
    acn = { }
  end 
%>
<div class="row">
  <div class="col-md-6">
    <%= f.input :nombres, placeholder: phn,
      value_method: lambda {|t| '' if t.nombres == 'N'},
      :input_html => acn %>
  </div>
  <% pha = 'N'
  aca = {'data-autocompleta' => 'no' }
  if (!f.object.apellidos || f.object.apellidos == 'N' || f.object.apellidos == '')
    pha = 'Buscar'
    aca = { }
  end %>
  <div class="col-md-6">
    <%= f.input :apellidos, placeholder: pha,
      value_method: lambda {|t| '' if t.apellidos == 'N'}, 
      :input_html => aca %>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <%= f.input :tdocumento_id,
      collection: Sip::Tdocumento.habilitados,
      label_method: :nombre,
      value_method: :id %>
  </div>
  <% phd = 'N'
  td = 'Si el tipo de documento es cédula de ciudadania teclee solo digitos'
  acd = {'data-toggle' => 'tooltip',
          title: td,
     'data-autocompleta' => 'no' }
  if (!f.object.numerodocumento || f.object.numerodocumento == 'N' || f.object.numerodocumento == '')
    phd = 'Buscar'
    acd = {'data-toggle' => 'tooltip',
           title: td }
  else
    if (f.object.tdocumento)
      td = f.object.tdocumento.ayuda
      acd = {'data-toggle' => 'tooltip',
             title: td }
    end
  end %>
  <div class="col-md-6">
    <%= f.input :numerodocumento, placeholder: phd,
      :input_html => acd %>
  </div>
</div>
<div class="input string" style="display: none">
  <label class="string control-label">Casos en los que aparece: </label>
  <% 
      r = ""
  sep = ""
  v = Sivel2Gen::Victima.where(id_persona: f.object.id).order(:id_persona)
  v.each do |vic|
    if @caso.id != vic.caso.id
  %>
<%= link_to vic.caso.id, sivel2_gen.caso_path(vic.caso), target:"_blank" %> 
<% 
    end
  end 
%>
</div>

<% @meses = [
  ["ENERO", 1], 
  ["FEBRERO", 2], 
  ["MARZO", 3], 
  ["ABRIL", 4], 
  ["MAYO", 5], 
  ["JUNIO", 6], 
  ["JULIO", 7], 
  ["AGOSTO", 8], 
  ["SEPTIEMBRE", 9], 
  ["OCTUBRE", 10], 
  ["NOVIEMBRE", 11], 
  ["DICIEMBRE", 12]] %>
<% @dias = *(1..31) %>


<div class="row">
  <div class="col-md-4">
    <%= render partial: 'sip/personas/campo_sexo', locals: {f: f} %>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <% @anios = *(1900..Date.today.year) %>
    <%= f.input :anionac, 
      collection: @anios %>
  </div>
  <div class="col-md-6">
    <%= fvictima.input :edadactual %>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <%= f.input :mesnac, collection: @meses %>
  </div>
  <div class="col-sm-6">
    <%= fvictima.association :rangoedad,
      collection: Sivel2Gen::Rangoedad.habilitados,
      include_blank: false,
      label_method: :nombre, 
      value_method: :id 
    %>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <%= f.input :dianac, collection: @dias %>
  </div>
  <div class="col-md-6">
    <%= fvictima.input :edad, as: :integer %>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <%= f.association :pais,
      collection: Sip::Pais.habilitados,
      label_method: :nombre,
      value_method: :id %>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <%= f.association :departamento,
      collection: (Sip::Departamento.habilitados.where(
        id_pais: f.object.id_pais)),
       label_method: :nombre,
       value_method: :id %>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <%= f.association :municipio, 
      collection: (Sip::Municipio.habilitados.
                   where(id_departamento: f.object.id_departamento)), 
    label_method: :nombre, value_method: :id %>
  </div>
  <div class="col-md-6">
    <%= f.association :clase,
      collection: (Sip::Clase.habilitados.where(
        id_municipio: f.object.id_municipio)),
       as: :hidden,
       label_method: :nombre,
       value_method: :id %>
  </div>
</div>
