<%= f.input :bussexo,
  collection: Sip::Persona::SEXO_OPCIONES,
  label: false,
  include_blank: true,
  selected: Sip::ModeloHelper.poromision(params, :bussexo),
  input_html: {
    class: 'chosen-select',
    'data-enviarautomatico' => ''
  }
%>
