<%= f.input :busrangoedad_id,
  collection: Sivel2Gen::Rangoedad.habilitados,
  label: false,
  include_blank: true,
  label_method: lambda { |k| k.nombre },
  value_method: lambda { |k| k.id },
  selected: Sip::ModeloHelper.poromision(params, :busrangoedad_id),
  input_html: {
    class: 'chosen-select',
    'data-enviarautomatico' => ''
  }
%>
