<%= f.input :buspersona_sexo,
  collection: Sip::Persona::SEXO_OPCIONES,
  label: false,
  include_blank: true,
  selected: Sip::ModeloHelper.poromision(params, :buspersona_sexo),
  input_html: {
    class: 'chosen-select',
    'data-enviarautomatico' => ''
  }
%>
