<div class="container">
  <div class="row filtro-fila">
    <div class="offset-sm-0 col-sm-4 offset-md-1 col-md-1">
      Filtrar por:
    </div>
    <div class="offset-sm-0 col-sm-4">
      <%= f.input :fechaini,
        maxlength: 10, 
        size: 10,
        label: false,
        placeholder: 'Fecha Inicial',
        input_html: {
          "data-behaviour" => "datepicker",
          value: fecha_estandar_local(@contarb_fechaini)
        }
      %>
    </div>
    <div class="offset-sm-0 col-sm-4">
      <%= f.input :fechafin,
        maxlength: 10, 
        size: 10,
        label: false,
        placeholder: 'Fecha Final',
        input_html: {
          "data-behaviour" => "datepicker",
          value: fecha_estandar_local(@contarb_fechafin)
        } %>
    </div>
  </div> <!-- row -->

  <div class="row filtro-fila">
    <div class="offset-sm-2 col-sm-4">
      <%= render partial: 'contar_filtro_2_1', locals: {f: f} %>
    </div>
    <div class="col-sm-4">
      <%= f.input :proyectofinanciero_id,
        collection: @contarb_pf,
        label_method: :nombre,
        value_method: :id,
        label: false,
        include_blank: Cor1440Gen::Actividad.human_attribute_name(
          :proyectofinanciero
        ),
        selected: @contarb_pfid,
        input_html: { 
          class: 'chosen-select' 
        }
      %>
    </div>
  </div> <!-- row -->

  <div class="row filtro-fila">
    <div class="offset-md-5 col-md-3">
      <%= f.button :submit, 'Contar', class: 'btn btn-default' %>
    </div>
  </div>
</div>
