<p></p>
<div class="panel panel-default">
  <div class="panel-heading">Indicadores de Objetivos/Efectos</div>
  <div class="panel-body">
    <div class="div-indicadoresobjetivos">
      <table class='table table-bordered table-sm' border=1 width="100%">
        <thead>
          <tr>
            <th>Ref. Objetivo/Efecto</th>
            <th width="10%">Código</th>
            <th>Indicador</th>
            <th>Tipo</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody id="indicadoresobjetivos">
          <%= f.simple_fields_for :indicadorobjetivo, 
            f.object.indicadorpf.where('objetivopf_id IS NOT NULL').order(:id) do |o| %>
            <%= render 'indicadorobjetivo_campos', f:  o, p: f %>
          <% end %>
        </tbody>
      </table>
      <div class="links">
        <%= link_to_add_association 'Agregar indicador de objetivo/efecto', f, 
          :indicadorobjetivo, {
          :"data-association-insertion-node" => "tbody#indicadoresobjetivos", 
          :"data-association-insertion-method" => "append", 
          partial: 'indicadorobjetivo_campos',
          class: 'btn-primary', 
          "data-ajax" => cor1440_gen.new_indicadorespf_path,
          "data-ajaxdata" => "proyectofinanciero_id" } %>
      </div> <!-- link -->
    </div> <!-- .div-indicadoresobjetivos -->
  </div> <!-- panel-body -->
</div> <!-- panel -->
