<% ##f.object = Indicadorpf.new() if !f.object  %>
<tr class='nested-fields'>
  <td>
    <%= f.association :resultadopf, 
      collection: Cor1440Gen::Resultadopf.where(proyectofinanciero_id: 
                                               f.object.proyectofinanciero_id),
      label: false,
      label_method: lambda { 
        |t| (t.objetivopf ? t.objetivopf.numero : '') + t.numero } 
      %>
  </td>
  <td>
    <%= f.input :numero, label: false %>
  </td>
  <td style='width: 10rem'>
    <% tid = Cor1440Gen::Tipoindicador.where(medircon: 1).map(&:id)  %>
    <% tus = f.object.tipoindicador_id ? [f.object.tipoindicador_id] : []  %>
    <% coltir = Cor1440Gen::Tipoindicador.where(id: tid | tus)  %>
    <%= f.association :tipoindicador, 
      collection: coltir,
      label_method: :nombre,
      label: false %>
  </td>
  <td>
    <%= f.input :indicador, as: :text, input_html: { rows: 3 }, label: false %>
  </td>
  <td>
    <%= f.input :id, as: :hidden %>
    <%= link_to_remove_association "Eliminar", f, 
      :class => 'btn-danger', "data-existing" => true %>
    <div><%= f.error_notification %></div>
  </td>
</tr>

