<% #byebug %>
<tr class='nested-fields'>
  <td>
    <%= f.association :objetivopf, 
      collection: Cor1440Gen::Objetivopf.where(proyectofinanciero_id: 
                                               f.object.proyectofinanciero_id),
      label: false,
      label_method: :numero %>
  </td>
  <td>
    <%= f.input :numero, label: false %>
  </td>
  <td>
    <%= f.input :indicador, as: :text, input_html: { rows: 3 }, label: false %>
  </td>
  <td>
    <% tid = Cor1440Gen::Tipoindicador.where(medircon: 2).map(&:id)  %>
    <% tus = f.object.tipoindicador_id ? [f.object.tipoindicador_id] : []  %>
    <% coltie = Cor1440Gen::Tipoindicador.where(id: tid | tus) %>
    <%= f.association :tipoindicador, 
      collection: coltie,
      label_method: :nombre,
      label: false %>
  </td>
  <td>
    <%= f.input :id, as: :hidden %>
    <%= link_to_remove_association "Eliminar", f, 
      :class => 'btn-danger', "data-existing" => true %>
    <div><%= f.error_notification %></div>
  </td>
</tr>

