<tr class='nested-fields campos_asistente'>
  
  <% if f.object.persona.nil? %>
    <% f.object.persona = Sip::Persona.new %>
  <% end %>

  <%= f.simple_fields_for :persona do |p| %>
    <td>
      <%= p.input :nombres,
        value_method: lambda {|t| '' if t.nombres == 'N'},
        label: false %>
    </td>
    <td>
      <%= p.input :apellidos, label: false %>
    </td>
    <td>
      <%= p.input :tdocumento_id,
        collection: Sip::Tdocumento.habilitados,
        label_method: :sigla,
        value_method: :id ,
        label: false,
        input_html: { style: 'width: 5em' }
      %>
    </td>
    <td>
      <%= p.input :id, as: :hidden %>
      <% ph = 'N'
      ac = {'data-autocompleta' => 'no'}
      if (!p.object.numerodocumento || p.object.numerodocumento == 'N' || p.object.numerodocumento == '')
        ph = 'Buscar'
        ac =  { autocomplete:  'off',
          list: 'fuente-asistentes'
        }
      end %>
      <%
      if (p.object.tdocumento)
        td = p.object.tdocumento.ayuda
      else
        td = "Si el tipo de documento es cédula de ciudadania teclee solo dígitos"
      end
      %>
      <%= p.input :numerodocumento, placeholder: ph,
        input_html: ac.merge!(
           style: 'width: 6em',
           title: td),
        label: false %>
    </td>
    <td>
      <%= p.input :sexo, 
        collection: [["F", :F], ["M", :M], ["S", :S]], 
        label: false,
        input_html: { style: 'width: 4em' },
        include_blank: false %>
    </td>
    <td>
      <%= p.input :anionac, 
        input_html: { style: 'width: 5em', min: 0 },
        label: false %>
    </td>
    <td>
      <%= p.input :mesnac, 
        input_html: { style: 'width: 4em', min: 0 },
        label: false %>
    </td>
    <td>
      <%= p.input :dianac, 
        input_html: { style: 'width: 4em', min: 0 },
        label: false %>
    </td>
  <% end %>
  <td>
    <%= f.association :orgsocial,
      collection: Sip::Orgsocial.all,
      label_method: :presenta_nombre,
      value_method: :id,
      label: false,
      input_html: { style: 'width: 6em' }
    %>
  </td>
  <td>
    <%= f.association :perfilorgsocial,
      collection: Sip::Perfilorgsocial.habilitados,
      label_method: :nombre,
      value_method: :id,
      input_html: { style: 'width: 6em' },
      label: false
    %>
  </td>
  <td>
    <%= f.input :id, as: :hidden %>
    <%= link_to_remove_association "Eliminar", f, 
        :class => 'btn-danger',
        :'data-existing'=> true
    %>
    <div><%= f.error_notification %></div>
  </td>
</tr>
