<table class="table table-striped">
  <thead>
    <tr>
      <th rowspan='2'>
        Resultado
      </th>
      <th rowspan='2'>
        Actividad del marco lógico
      </th>
      <th rowspan='2'>
        Total<br>Actividades
      </th>
      <th colspan='3'>
        <span data-toggle='tooltip' title="Número de beneficiarios (posiblemente repetidos) contados con la tabla de población">Participaciones Población</span>
      </th>
      <th colspan='3'>
        <span data-toggle='tooltip' title="Número de asistentes (posiblemente repetidos) según listado de asistencia">Participaciones asistentes</span>
      </th>
      <th colspan='3'>
        <span data-toggle='tooltip' title="Número de asistentes únicos de los listados de asistencia">Asistentes únicos</span>
      </th>
      <th colspan='3'>
        <span data-toggle='tooltip' title="Tasa 'Participaciones asistentes' / 'Asistentes únicos'">Frecuencia de asistencia</span>
      </th>
    </tr>
    <tr>
        <th>F</th>
        <th>M</th>
        <th>S</th>
        <th>F</th>
        <th>M</th>
        <th>S</th>
        <th>F</th>
        <th>M</th>
        <th>S</th>
        <th>F</th>
        <th>M</th>
        <th>S</th>
    </tr>
  </thead>
  <tbody>
    <% a = Cor1440Gen::Actividadpf.where(
      proyectofinanciero_id: @contar_pfid).
      joins('JOIN cor1440_gen_resultadopf as rpf on cor1440_gen_actividadpf.resultadopf_id=rpf.id').
      order('rpf.numero, nombrecorto')%>
    <% a.each do |a| %>
      <tr>
        <% # Una misma actividad puede tener varias actividades de convenio del
           # mismo proyecto por eso no sacar totales
        %>
        <% consb = @contar_actividad.where('cor1440_gen_actividad.id IN 
          (SELECT actividad_id FROM cor1440_gen_actividad_actividadpf
           WHERE actividadpf_id=?)',a.id).
          where('cor1440_gen_actividad.id IN 
          (SELECT actividad_id FROM cor1440_gen_actividad_proyectofinanciero
           WHERE proyectofinanciero_id=?)',@contar_pfid)
         %>
       <td><%= a.resultadopf.codigo_completo if a.resultadopf %></td>
        <td><%= a.nombrecorto %> <%= a.titulo%></td>
        <td>
          <% tot = consb.count %>
          <% if tot > 0 %>
            <% evtot = consb.pluck(:id).join(",") %>
            <%= link_to tot, cor1440_gen.actividades_path + 
              "?filtro[busid]=" + evtot, target: '_blank'  %>
          <% else %>
            <%= 0 %>
          <% end %>
        </td>
        <td>
          <% consbr = consb.joins(:actividad_rangoedadac) %> 
          <% #fl = consbr.sum(:fl) %>
          <% fr = consbr.sum(:fr) %>
          <%= fr %>
        </td>
        <td>
          <% #ml = consbr.sum(:ml) %>
          <% mr = consbr.sum(:mr) %>
          <%= mr %>
        </td>
        <td>
          <% sr = consbr.sum(:s) %>
          <%= sr %>
        </td>
        <td>
          <% asistentes = consb.joins(:persona) %>
          <% af = asistentes.where('sip_persona.sexo': :F).select(
            'cor1440_gen_asistencia.persona_id') %>
          <%= af.count %>
        </td>
        <td>
          <% am = asistentes.where('sip_persona.sexo': :M).select(
            'cor1440_gen_asistencia.persona_id')%>
          <%= am.count %>
        </td>
        <td>
          <% as = asistentes.where('sip_persona.sexo': :S).select(
            'cor1440_gen_asistencia.persona_id') %>
          <%= as.count %>
        </td>
        <td>
          <% asistunicos = consb.joins(:persona).
            select('distinct cor1440_gen_asistencia.persona_id').
            pluck('cor1440_gen_asistencia.persona_id') %> 
          <% uf = Sip::Persona.where(id: asistunicos).where(sexo: :F) %>
          <% if uf.count > 0 %>
            <% ev = uf.pluck('id').join(",") %>
            <%= link_to uf.count, sip.personas_path + 
              "?filtro[busid]=" + ev, target: '_blank'  %>
          <% else %>
            <%= 0 %>
          <% end %>
        </td>
        <td>
          <% um = Sip::Persona.where(id: asistunicos).where(sexo: :M) %>
          <% if um.count > 0 %>
            <% ev = um.pluck('id').join(",") %>
            <%= link_to um.count, sip.personas_path + 
              "?filtro[busid]=" + ev, target: '_blank'  %>
          <% else %>
            <%= 0 %>
          <% end %>
        </td>
        <td>
          <% us = Sip::Persona.where(id: asistunicos).where(sexo: :S) %>
          <% if us.count > 0 %>
            <% ev = us.pluck('id').join(",") %>
            <%= link_to us.count, sip.personas_path + 
              "?filtro[busid]=" + ev, target: '_blank'  %>
          <% else %>
            <%= 0 %>
          <% end %>
        </td>
        <td>
          <%= if uf.count > 0 then f =af.count.to_f/uf.count; f.round(1); end %>
        </td>
        <td>
          <%= if um.count > 0 then f =am.count.to_f/um.count; f.round(1); end %>
        </td>
        <td>
          <%= if us.count > 0 then f =as.count.to_f/us.count; f.round(1); end %>
        </td>

      </tr>
    <% end %>
    <tr>
      <% consb = @contar_actividad.where('cor1440_gen_actividad.id NOT IN 
          (SELECT actividad_id FROM cor1440_gen_actividad_actividadpf
           JOIN cor1440_gen_actividadpf ON 
            cor1440_gen_actividad_actividadpf.actividadpf_id=
            cor1440_gen_actividadpf.id
           WHERE cor1440_gen_actividadpf.proyectofinanciero_id=?)',@contar_pfid).
           where('cor1440_gen_actividad.id IN (SELECT actividad_id FROM 
                 cor1440_gen_actividad_proyectofinanciero WHERE 
                proyectofinanciero_id=?)', @contar_pfid)
         %>
       <td> </td>
       <td><em>Sin actividad de convenio</em><br>
      </td>
      <td>
        <% tot = consb.count %>
        <% if tot > 0 then %>
          <% evtot = consb.pluck(:id).join(",") %>
          <%= link_to tot, cor1440_gen.actividades_path + 
            "?filtro[busid]=" + evtot, target: '_blank' %>
        <% else %>
          <%= 0 %>
        <% end %>
      </td>
      <td>
        <% consbr = consb.joins(:actividad_rangoedadac) %> 
        <% fl = consbr.sum(:fl) %>
        <%= fl %>
      </td>
      <td>
        <% fr = consbr.sum(:fr) %>
        <%= fr %>
      </td>
      <td>
        <% ml = consbr.sum(:ml) %>
        <%= ml %>
      </td>
      <td>
        <% mr = consbr.sum(:mr) %>
        <%= mr %>
      </td>
      <td>
        <% sr = consbr.sum(:s) %>
        <%= sr %>
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td></td>
      <td colspan="5">No se hacen sumas verticales por columna porque una actividad puede tener varias actividades del marco lógico</td>
    </tr>
  </tfoot>

</table>
