<tr class='nested-fields'>
  <td>
    <% colact = [] %>
    <% if @registro.actividadpf_ids.length > 0 %>
      <% pe = Cor1440Gen::Actividadpf.where(proyectofinanciero_id: 10).pluck(:id) %>
      <% actpfs = @registro.actividadpf_ids - pe%>
      <% colact = Cor1440Gen::Actividadpf.where(id: actpfs) %>
    <% end %>
    <%= f.input :convenioactividad,
      collection: colact,
      label_method: lambda { |t| t.presenta_detallefinanciero_pfacpf_abrev},
      value_method: lambda { |t| t.presenta_detallefinanciero_pfacpf},
      wrapper_html: {style: "width: 12em"},
      disabled: f.object.actividadpf_id ? true : false,
      label: false,
      input_html: {
        class: 'chosen-select'
      }
    %>
  </td>
  <td>
    <% idp = [] %>
    <% if f.object.actividad %>
      <% if f.object.actividad.casosjr %>
        <% idp = f.object.actividad.casosjr.map {  |c| c.caso.victima.map(&:id_persona) }.flatten %>
      <% end %>
      <% if f.object.actividad.asistencia %>
        <% idp += f.object.actividad.asistencia.map(&:persona_id) %>
      <% end %>
      <% idp.uniq! %>
    <% end %>
    <% colper = Sip::Persona.where(id: idp).order(
      'upper(nombres)', 'upper(apellidos)') %>
    <%= f.association :persona,
      collection: colper,
      label_method: :presenta_nombre,
      label: false,
      wrapper_html: {style: "width: 12em"},
      input_html: {
        class: 'chosen-select'
      }
    %>
  </td>
  <td>
    <%= f.association :unidadayuda,
      collection: Unidadayuda.habilitados.reorder(:orden),
      label_method: :nombre,
      value_method: :id,
      label: false,
      wrapper_html: {style: "width: 8em"},
      input_html: {
        #class: 'chosen-select'
      }
    %>
  </td>
  <td>
    <%= f.input :cantidad,
      label: false,
      wrapper_html: {style: "width: 6em"},
      input_html: {min: 0}
    %>
  </td>
  <td>
    <%= f.input :valortotal,
      label: false,
      wrapper_html: {
        style: "width: 8em"
      },
      input_html: {
        min: 0,
        'data-toggle': "tooltip",
        'data-placement': "bottom",
        'title': "Use el punto únicamente para decimales"
      }
    %>
  </td>
  <td>
    <%= f.input :valorunitario,
      label: false,
      readonly: true,
      wrapper_html: {style: "width: 6em"},
      input_html: {min: 0}
    %>
  </td>
  <td>
    <%= f.association :mecanismodeentrega,
      collection: Mecanismodeentrega.habilitados,
      label_method: :nombre,
      value_method: :id,
      wrapper_html: {style: "width: 8em"},
      label: false,
      input_html: {
        class: 'chosen-select'
      }
    %>
  </td> 
  <td>
    <%= f.association :modalidadentrega,
      collection: Modalidadentrega.habilitados,
      label_method: :nombre,
      value_method: :id,
      wrapper_html: {style: "width: 8em"},
      label: false,
      input_html: {
        class: 'chosen-select'
      }
    %>
    <% if f.object && f.object.modalidadentrega && f.object.modalidadentrega_id != 1 %>
      <% estipo = "display: block" %>
    <% else %>
      <% estipo = "display: none" %>
    <% end %>
    <div style="<%= estipo %>"> 
      <%= f.association :tipotransferencia,
        collection: Tipotransferencia.habilitados,
        label_method: :nombre,
        value_method: :id,
        wrapper_html: {style: "width: 8em"},
        label: "Tipo de Transferencia",
        input_html: {
          class: 'chosen-select'
        }
      %>
    </div>
  </td>
  <td>
    <%= f.association :frecuenciaentrega,
      collection: Frecuenciaentrega.habilitados,
      label_method: :nombre,
      value_method: :id,
      wrapper_html: {style: "width: 8em"},
      label: false,
      input_html: {
        class: 'chosen-select'
      }
    %>
  </td>
  <td>
    <%= f.input :numeromeses,
      label: false,
      wrapper_html: {style: "width: 4em"},
      input_html: {min: 0}
    %>
  </td>
  <td>
    <% if f.object.numeromeses %>
      <% tot = f.object.numeromeses %>
      <% col = 1..tot %>
    <% else %>
      <% col = [] %>
    <% end %>
    <%= f.input :numeroasistencia,
      label: false, 
      as: :select,
      collection: col,
      wrapper_html: {style: "width: 4em"}
    %>
  </td>
  <td>
    <%= f.input :id, as: :hidden %>
    <%= link_to_remove_association "Eliminar", f, 
      :class => 'btn-danger',
      :'data-eliminar-detallefinanciero' => true,
      :'data-existing' => true
    %>
  </td>
</tr>
