<input class='bitacora_cambio' id='actividad_bitacora_cambio' 
  name='actividad[bitacora_cambio]' type='hidden'>
<div class='row'>
  <div class='col-sm-2'>
    <label for="actividad_actividadareas">
      <%= @actividad.class.human_attribute_name(:actividadareas) %>
    </label>
  </div>
  <div class='col-sm-4'>
    <%= render partial: 'campo_actividadareas', 
      locals: {f: f, con_label: false} %>
  </div>

  <div class='col-sm-2'>
    <label for="actividad_descripcion">
      <%= @actividad.class.human_attribute_name(:objetivo) %>
    </label>
  </div>
  <div class='col-sm-4'>
    <%= f.input :objetivo,
      label: false 
    %>
  </div>
</div>
<div class='row'>
  <div class='col-sm-4'>
    <label for="actividad_actividadareas">
      Apoyo directo o indirecto por COVID-19
    </label>
  </div>
  <div class='col-sm-2'>
    <%= f.input :covid,
      label: false %>
  </div>
</div>
