<% casos_ids = @registro.casosjr.order(:id_caso).pluck(:id_caso) %>
<% victimasjr = Sivel2Sjr::Victimasjr.where(id_victima: Sivel2Gen::Victima.where(id_caso: casos_ids).pluck(:id)).where(fechadesagregacion: nil).pluck(:id_victima)%>
<% victimas = Sivel2Gen::Victima.find(victimasjr) %>
<% vic_personas = victimas.pluck(:id_persona) %>
<% asis_personas= @registro.asistencia.pluck(:persona_id) %>
<% personas =  asis_personas + vic_personas %>
Población asistente: <%= personas.uniq.count  %>
<table class="tablalistadoasistencia table  table-bordered table-sm ">
  <thead class="thead-light">
    <tr>
      <th>Código de persona</th>
      <th>Nombres</th>
      <th>Apellidos</th>
      <th colspan="2">Identificación</th>
      <th>Sexo</th>
      <th>Edad</th>
      <th>Perfil</th>
      <th>Caso asociado</th>
    </tr>
  </thead>
  <tbody id="asistencia">
    <% disponibles = personas %>
    <% @registro.asistencia.each do |asistencia| %>
      <% disponibles -= [asistencia.persona.id] %>
      <tr>
        <td>
          <%= asistencia.persona.id if asistencia.persona.id %>
        </td>
        <td>
          <%= asistencia.persona.nombres if asistencia.persona.nombres %>
        </td>
        <td>
          <%= asistencia.persona.apellidos if asistencia.persona.apellidos %>
        </td>
        <td>
          <%= asistencia.persona.tdocumento.sigla if asistencia.persona.tdocumento%>
        </td>
        <td>
          <%= asistencia.persona.numerodocumento if asistencia.persona.numerodocumento %>
        </td>
        <td>
          <%= asistencia.persona.sexo if asistencia.persona.sexo %>
        </td>
        <td>
          <% if asistencia.persona %>
            <%= edad_de_fechanac_fecha(
              asistencia.persona.anionac, asistencia.persona.mesnac, 
              asistencia.persona.dianac, Date.today.year, 
              Date.today.month, Date.today.day)
            %>
          <% end %>
        </td>
        <td>
          <%= asistencia.perfilorgsocial.nombre if asistencia.perfilorgsocial %>
        </td>
        <td>
          <% casoa = Sivel2Gen::Victima.where(id_persona: asistencia.persona.id).pluck(:id_caso) %>
          <%= casoa.empty? ? "Sin caso asociado" : casoa.join(', ') %>
        </td>
      </tr>
    <% end %>
    <% victimas.each do |victima| %>
      <% if disponibles.include? victima.persona.id %>
        <tr>
          <td>
            <%= victima.persona.id if victima.persona.id %>
          </td>
          <td>
            <%= victima.persona.nombres if victima.persona.nombres %>
          </td>
          <td>
            <%= victima.persona.apellidos if victima.persona.apellidos %>
          </td>
          <td>
            <%= victima.persona.tdocumento.sigla if victima.persona.tdocumento%>
          </td>
          <td>
            <%= victima.persona.numerodocumento if victima.persona.numerodocumento %>
          </td>
          <td>
            <%= victima.persona.sexo if victima.persona.sexo %>
          </td>
          <td>
            <% if victima.persona %>
              <% edad =  edad_de_fechanac_fecha(
                victima.persona.anionac, victima.persona.mesnac, 
                victima.persona.dianac, Date.today.year, 
                Date.today.month, Date.today.day)
              %>
              <% if edad != -1 %>
                <%= edad %>
              <% else %>
                No indica
              <% end %>
            <% end %>
          </td>
          <td>
             No Aplica
          </td>
          <td>
            <%= victima.id_caso %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
