<h1> Actividad </h1>
<div class="row">
  <div class="col-md-6">
    <b>Id:</b> <span id='actividad_id'><%= @actividad.id %></span> <br>
    <b>Fecha de realización:</b> <%= @actividad.fecha %><br>

    <b>Oficina:</b> <%= @actividad.oficina.nombre if @actividad.oficina %> <br>
    <b>Departamento:</b><%= @actividad.presenta('departamento') %><br>
  </div>
  <div class="col-md-6">
    <b>Nombre:</b> <%= @actividad.nombre %><br>
    <b>Responsable:</b> <%= @actividad.responsable.nombre if @actividad.responsable%><br>
    <b>Caso asociado:</b> 
    <% if @actividad.casosjr.empty? %>
      Sin casos asociados
    <% else %>
      <%= @actividad.casosjr.pluck(:id_caso).join(", ") %>
    <% end %><br>
    <b>Municipio:</b><%= @actividad.presenta('municipio') %><br>
  </div>
</div>
<br>
<%= render 'show_listado_proyectos' %> 
<br>
<h3>Listado de Asistencia y Beneficiarios</h3>
<%= render 'show_listado_asistencia' %> 
<br>
<h3>Población</h3>
<%= render 'show_listado_poblacion' %> 
<div class="row">
  <div class="col-md-12">
    <b>Resultado:</b> <%= @actividad.resultado %> <br>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <b>Observaciones:</b> <%= @actividad.observaciones %><br>
  </div>
</div>
<br>
<h3>Anexos</h3>
<%= render 'show_listado_anexos' %> 
<br>
<%= render partial: 'resumen_registros_bitacora' %>
<br>
<%= render partial: 'show_acciones' %>

