<%= f.input :buspersona_tipodocumento,
  collection: Sip::Tdocumento.all,
  label_method: lambda{|k| k.sigla},
  label_value: lambda{|k| k.id},
  label: false,
  include_blank: true,
  selected: Sip::ModeloHelper.poromision(params, :buspersona_tipodocumento),
  input_html: {
    class: 'chosen-select',
    'data-enviarautomatico' => ''
  }
  %>
