<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="formato_fecha" content="<%= Rails.configuration.x.formato_fecha  ? Rails.configuration.x.formato_fecha : 'yyyy-mm-dd' %>">
    <title><%= content_for?(:titulo) ? yield(:titulo) : Sip.titulo %></title>
    <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "application", :media => "all",
      'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload',
      defer: false %>
    <%= javascript_include_tag "application" %>

    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>

  </head>
  <body>
    <%= barra_navegacion :fixed => :top, 
      marca: '',
      enlace_marca: sip.root_url,
      responsive: true do 
    %>
      <%= yield :menu %>
    <% end %>

    <div class="container master-container">
	    <!--ul class="breadcrumb"-->
        <!--%= yield :breadcrumb %-->
	    <!--/ul-->
	    <%= anuncios_bootstrap %>
	    <%= yield %>
    </div>

    <footer align='right' class='footer'>
      <%= yield :piedepagina %>
    </footer>

  </body>
</html>
