<dl>
  <dt>Atencion/es en las que este caso es beneficiario:</dt>

  <% # SEGUIMIENTO A CASOS %> 
  <% ga = Cor1440Gen::Actividad.joins(
    'INNER JOIN sivel2_sjr_actividad_casosjr ' +
    'ON sivel2_sjr_actividad_casosjr.actividad_id = cor1440_gen_actividad.id').
    where('sivel2_sjr_actividad_casosjr.casosjr_id = ?', @caso.casosjr.id) %>
  <dd>
  <table style="width: 100%" class="table table-striped table-bordered">
    <thead class="thead-light">
      <tr>
        <th>Actividad</th>
        <th>Fecha de Atención</th>
        <th>Nombre de la actividad</th>
        <th>Convenio Financiador</th>
      </tr>
    </thead>
    <tbody>
    <% ga.each do |g| %>
      <tr>
        <td>
          <%= link_to g.id.to_s,
            cor1440_gen.actividad_path(g),
            target: '_blank' %>
      </td>
      <td><%= g.fecha %></td>
      <td><%= g.nombre %></td>
      <td>
        <% pfs= [] %>
        <% pfs = g.proyectofinanciero_ids.uniq - [10] %>
        <% if pfs != [] %>
          <% convenio = pfs.inject('') {|memo, p| 
            pf = Cor1440Gen::Proyectofinanciero.find(p)
            memo == '' ? pf.nombre : memo + '; ' + pf.nombre } %>
        <% end %>
        <%= convenio %>
      </td>
      </tr>
    <% end %>
    </tbody>
  </table>
  </dd>
</dl>

<dl>
  <dt>Atención/es en las que alguna persona de este caso es beneficiaria:</dt>

  <% ga4 = Cor1440Gen::Actividad.joins(
    'INNER JOIN cor1440_gen_asistencia ' +
    'ON cor1440_gen_asistencia.actividad_id = cor1440_gen_actividad.id').
    where('cor1440_gen_asistencia.persona_id IN ' + 
          '(SELECT id_persona FROM sivel2_gen_victima WHERE ' +
          '  sivel2_gen_victima.id_caso=?)', @caso.id) %>
   <dd>
     <table style="width: 100%" class="table table-striped table-bordered">
       <thead class="thead-light">
         <tr>
           <th>Actividad</th>
           <th>Fecha de Atención</th>
           <th>Nombre de la actividad</th>
           <th>Convenio Financiador</th>
           <th>Beneficiario/a de este caso</th>
         </tr>
       </thead>
       <tbody>
         <% ga4.order(
           ['cor1440_gen_actividad.fecha DESC', 
            'cor1440_gen_actividad.id DESC']).pluck(:id).uniq.each  do |acid| %>
           <% g = Cor1440Gen::Actividad.find(acid) %>
           <tr>
             <td>
               <%= link_to g.id.to_s,
                 cor1440_gen.actividad_path(g),
                 target: '_blank' %>
             </td>
             <td><%= g.fecha %></td>
             <td><%= g.nombre %></td>
             <td>
               <% pfs= [] %>
               <% pfs = g.proyectofinanciero_ids.uniq - [10] %>
               <% if pfs != [] %>
                 <% convenio = pfs.inject('') {|memo, p| 
                   pf = Cor1440Gen::Proyectofinanciero.find(p)
                   memo == '' ? pf.nombre : memo + '; ' + pf.nombre } %>
               <% end %>
               <%= convenio %>
             </td>
             <td>
               <%= ga4.where(id: acid).
               pluck('cor1440_gen_asistencia.persona_id').
               map { |idp| Sip::Persona.find(idp).presenta_nombre }.
               join(". ") %>
             </td>
           </tr>
         <% end %>
       </tbody>
     </table>
   </dd>
</dl>


