<%- if current_usuario.nil?  %>
  <li><a href="usuarios/sign_in">Iniciar Sesión</a>
<%- else  %>
  <article>
  <script>
    $(document).ready(function() {
      window.sivel2_enviarFichaCasoCada60()  ;
    });
  </script>
  <%= simple_form_for @caso, :html => { :class => 'form-horizontal' } do |f| %>
    <div data-role="content" class="form-inputs">

      <%= render partial: 'sip/hogar/errores', locals: { f: f } %>

      <%= render partial: 'sivel2_gen/casos/datos_interjs', locals: { f: f } %>

      <ul class="nav nav-tabs" role="tablist">
        <%= item_nav_pestaña_bs(
          'basicoscontacto',
          'Datos Básicos y Contacto',
          true,
          'fichacambia')
        %>
        <%= item_nav_pestaña_bs(
          'victimas',
          'Núcleo Familiar',
          false,
          'fichacambia')
        %>
        <%= item_nav_pestaña_bs(
          'migracion',
          'Migración',
          false,
          'fichacambia')
        %>
        <%= item_nav_pestaña_bs(
          'desplazamiento',
          'Desplazamiento',
          false,
          'fichacambia')
        %>
        <%= item_nav_pestaña_bs(
          'atencion',
          'Respuesta Institucional y Seguimiento',
          false,
          'fichacambia')
        %>
      </ul>
      <div class="tab-content">
        <%= f.simple_fields_for :casosjr do |s| %>
          <%= contenido_pestaña_bs('basicoscontacto', true) do %>
            <%= render 'basicoscontacto', :f => f, :s => s %>
          <% end %>

          <%= contenido_pestaña_bs('victimas', false) do %>
            <%= render 'victimas', :f => f, :s => s %>
          <% end %>

          <%= contenido_pestaña_bs('migracion', false) do %>
            <%= render 'migraciones', :f => f, :s => s %>
          <% end %>

          <%= contenido_pestaña_bs('desplazamiento', false) do %>
            <%= render 'desplazamientos', :f => f %>
          <% end %>

          <%= contenido_pestaña_bs('atencion', false) do %>
            <%= render 'respuestas', :f => f, :s => s %>
          <% end %>

        <% end %> <!-- form s -->
      </div> <!-- tab-content -->
    </div> <!-- form-inputs -->

    <div class="form-actions">
      <input class='bitacora_cambio' id='caso_bictacora_cambio' name='caso[bitacora_cambio]' type='hidden'>
      <%= f.button :submit, 'Validar y Guardar', {
        class: 'btn-primary',
        onclick: 'window.sivel2_detenerEnviarCada60()'
      } %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
        casos_path, :class => 'btn'
      %>
    </div> <!-- form-action -->
  <% end %> <!-- simple_form_for @caso -->
  </article>
<% end %> <!-- else -->

