<% content_for :titulo do %>
  <%= Sip.titulo  %>
<% end %>

<% content_for :marca do %>
<% end %>



<% content_for :menu do %>
  <%= grupo_menus do %>
    <% if !current_usuario.nil? %>

      <% if can? :index, Sivel2Gen::Caso then %>
        <%= despliega_abajo "Casos" do %>
          <%= opcion_menu "Listado", sivel2_gen.casos_path, 
            {desplegable: true} %>
          <% if can? :mapaosm, Sivel2Gen::Caso then %>
            <%= opcion_menu "Casos sobre Open Street Maps",
              sivel2_sjr.casos_mapaosm_path, desplegable: true %>
          <% end %>
          <% if can? :edit, Sivel2Gen::Caso then %>
            <%= opcion_menu "Nuevo", sivel2_gen.new_caso_path, desplegable: true %>
            <%= opcion_menu "Validaciones", sivel2_gen.validarcasos_path, desplegable: true %>
          <% end %>
        <% end %>
      <% end %>
      <%= despliega_abajo "Conteos" do %>
        <%= opcion_menu "Personas Atendidas", '/conteos/personas',
          desplegable: true %>
        <%= opcion_menu "Respuestas y Derechos Vulnerados", 
          '/conteos/respuestas', desplegable: true %>
        <%= opcion_menu "Acciones Jurídicas Interpuestas", 
          '/conteos/accionesjuridicas', desplegable: true %>
        <%= opcion_menu "Municipios expulsores/receptores", 
          '/conteos/municipios', desplegable: true %>
        <%= opcion_menu "Rutas de desplazamiento", 
          '/conteos/rutas', desplegable: true %>
        <%= opcion_menu "Desplazamientos por persona", 
          '/conteos/desplazamientos', desplegable: true %>
        <%= opcion_menu "Vacíos de protección", 
          '/conteos/vacios', desplegable: true %>
      <% end %>

      <% if can? :read, Cor1440Gen::Actividad then %>
        <%= despliega_abajo "Actividades" do %>
          <%= opcion_menu "Listado", cor1440_gen.actividades_path, desplegable: true %>
          <%= opcion_menu "Reporte GIFMM detallado", main_app.consgifmm_path, 
            desplegable: true %>
          <%= opcion_menu "Conteo por actividad del marco lógico", 
            cor1440_gen.contar_actividades_path, desplegable: true %>
          <% if can? :manage, ::Usuario %>
            <%= opcion_menu "Antiguo conteo por beneficiario y "\
              "actividad del marco lógico no paginado", 
              cor1440_gen.contar_actividades_beneficiarios_path, 
              desplegable: true %>
          <% end %>
          <%= opcion_menu "Conteo por beneficiario y "\
            "actividad del marco lógico paginado", 
            main_app.benefactividadpf_path, desplegable: true %>
          <%= opcion_menu 'Reporte de actividades con casos', 
            sivel2_sjr.consactividadcaso_path, 
            desplegable: true %>
          <% if can? :read, Cor1440Gen::Proyectofinanciero then %>
            <%= opcion_menu "Convenios Financiados", 
              cor1440_gen.proyectosfinancieros_path, desplegable: true %>
            <%= opcion_menu "Medición de indicadores de resultado", 
              cor1440_gen.mindicadorespf_path, desplegable: true %>
          <% end %>
          <% if can? :read, Sip::Orgsocial then %>
            <%= opcion_menu "Organizaciones sociales", sip.orgsociales_path, desplegable: true %>
          <% end %>
          <% if can? :read, Sip::Persona then %>
            <%= opcion_menu "Beneficiarios", sip.personas_path, desplegable: true %>
          <% end %>
        <% end %>
      <% end %>

      <%= despliega_abajo "Archivo de Prensa" do %>
        <%= opcion_menu "Buscar", sal7711_gen.buscar_path, desplegable: true %>
        <% if can? :manage, Sal7711Gen::Articulo then %>
          <%= opcion_menu "Añadir Artículo", sal7711_gen.new_articulo_path, desplegable: true %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
  <%= grupo_menus empuja: :derecha do %>
    <% if !current_usuario.nil? %>
      <% if can? :read, ::Heb412Gen::Doc %>
        <%= despliega_abajo "Documentos" do %>
          <%= opcion_menu "Manual del sistema", 
            'https://docs.google.com/document/d/1qxJOBzbG_lQPN0nfhlJ1QyeRO4a9hrYlK8Z_bRO3UJU/edit?usp=sharing', target: '_blank',
          desplegable: true %>
          <%= opcion_menu "Nube", 
            heb412_gen.sisini_path, desplegable: true %>
            <% if can? :manage, ::Heb412Gen::Plantillahcm %>
              <%= opcion_menu "Definir plantillas para listados en hojas de calculo",
                heb412_gen.plantillashcm_path, desplegable: true %>
              <%= opcion_menu "Importar datos de listados en hoja de cálculo",
                heb412_gen.plantillashcm_importadatos_path , desplegable: true %>
            <% end %>
            <% if can? :manage, ::Heb412Gen::Plantillahcr %>
              <%= opcion_menu 'Definir plantillas para un registro en hoja de calculo',
                heb412_gen.plantillashcr_path, desplegable: true %>
            <% end %>
        <% end %>
      <% end %>
      <%= despliega_abajo "Administrar" do %>
        <%= opcion_menu "Clave y tema", main_app.editar_registro_usuario_path, desplegable: true %>
        <% if session[:capturacaso_acordeon] %>
          <%= opcion_menu 'Ficha caso vertical ✓', 
            sivel2_gen.fichacasovertical_path,
            desplegable: true, id: 'fichacasovertical' 
          %>
        <% else %>
          <%= opcion_menu 'Ficha caso vertical', 
            sivel2_gen.fichacasovertical_path,
            desplegable: true, id: 'fichacasovertical' 
          %>
        <% end %>

        <% if can? :manage, ::Usuario %>
          <%= opcion_menu "Usuarios", main_app.usuarios_path, desplegable: true %>
        <% end %>
        <% if can? :manage, Mr519Gen::Formulario %>
          <%= opcion_menu "Formularios", mr519_gen.formularios_path, desplegable: true %>
        <% end %>
        <% if current_usuario.rol == Ability::ROLADMIN || 
          current_usuario.rol == Ability::ROLDIR %>
          <%= opcion_menu "Tablas Básicas", sivel2_gen.tablasbasicas_path, desplegable: true %>
          <%= opcion_menu "Clave para respaldo automatico", 
            main_app.clavesrespaldos_path, desplegable: true %>
          <!-- %= #opcion_menu "Casos", admin_casos_path % -->
        <% end %>
        <%= opcion_menu "Ver Control de Acceso", 
          sip.ayuda_controldeacceso_path, desplegable: true %>

      <% end %>
      <%= opcion_menu "Salir #{current_usuario.nusuario}", main_app.sign_out_path %>
    <% else %>
      <%= opcion_menu "Acerca de", sip.acercade_path %>
      <%= opcion_menu "Iniciar Sesión", main_app.new_usuario_session_path %> 
    <% end %>
  <% end %>
<% end %> 

<% content_for :piedepagina do %>
    <p><span class='derechos'>
      Sistema de información de <a href="https://gitlab.com/pasosdeJesus/si_jrscol">código abierto</a>, desarrollado para <a href="https://col.jrs.net/es/home/" target="_blank">JRS Colombia</a> por <a href="http://www.pasosdeJesus.org" target="_blank">Pasos de Jesús</a>. 2014-2021. 
    </span></p>
<% end %>

<%= render template: "layouts/sal7711_gen/application" %>
